@using StrawberryShake
<Alert Color="AlertColor.Danger">
    <h4 class="alert-heading">An error has occurred!</h4>
    @foreach (var error in Errors)
    {
        <p>@error.Message</p>
        if (error.Extensions != null && error.Extensions.Any())
        {
            <ul>
                @foreach (var extension in error.Extensions)
                {
                    <li>@extension.Key: @extension.Value</li>
                }
            </ul>
        }
    }
</Alert>

@code {
    [Parameter] [EditorRequired] public IEnumerable<IClientError> Errors { get; set; } = null!;
}