<div class="card mb-3 border-0">
    @if (IsContentOnTop)
    {
        @ChildContent
    }
    <div class="card-body">
        @if (Icon.HasValue)
        {
            <Icon Name="@Icon.Value" Size="IconSize.x4"/>
        }
        <h3 class="card-title fs-3 mb-3">@Title</h3>
        <p class="card-subtitle mb-3 text-body-secondary">@Description</p>
    </div>
    @if (!IsContentOnTop)
    {
        @ChildContent
    }
</div>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool IsContentOnTop { get; set; }

    [Parameter] [EditorRequired] public string Title { get; set; } = null!;
    [Parameter] [EditorRequired] public string Description { get; set; } = null!;

    [Parameter] public IconName? Icon { get; set; }
    [Parameter] public string? IconBackgroundColor { get; set; } = "text-bg-primary";

}