<li class="d-flex align-items-center py-2">
    @if (IsIncluded)
    {
        <Icon Name="IconName.Check" Color="IconColor.Primary" Size="IconSize.x4" />
        @Feature
    }
    else
    {
        <Icon Name="IconName.X" Color="IconColor.Muted" Size="IconSize.x4" />
        <s class="text-muted">@Feature</s>
    }
</li>

@code {

    [Parameter] [EditorRequired] public string Feature { get; set; } = null!;
    [Parameter] public bool IsIncluded { get; set; } = true;
}